* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

@media (max-width: 500px){

    body{
        width: max-content;
    }

    .nav{
        display: grid;
        grid-template-columns: 90% 10%;
        margin: 1%;
    }

    .btnMenu{
        justify-self: end;
    }

    .img-index{
        justify-self: center;
    }
    
    .main-index{
        display:grid;
        padding-top: 15%;
        width: 100vw;
    }

    .btnProductoAleatorio{
        justify-self: center;
    }

  #menuShop{
        visibility: hidden;
  }

  #menuCarro{
        visibility: hidden;
    }

     /* #menuProyectos{ 
        de 360px a 500px no logro que el "PROYECTOS" quede estático
     }  */

     .imgProyecto{
        display: flex;
        flex-flow: column nowrap;
        width: 100vw;
    }
}

@media (min-width: 500px) and (max-width: 768px){

    .nav{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 1%;
    }

    .btnMenu{
        justify-self: end;
    }

    .img-index{
        justify-self: center;
    }
    
    .main-index{
        display:grid;
        padding-top: 15%;
    }

    .btnProductoAleatorio{
        justify-self: center;
    }

    .menu{
        justify-self: end;
    }

    .imgProyecto{
        display: flex;
        flex-flow: column nowrap;
        width: 100vw;
    }
}

@media (min-width: 768px){

    .nav{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 1%;
    }

    .btnMenu{
        justify-self: end;
    }

    .img-index{
        justify-self: center;
    }
    
    .main-index{
        display:grid;
        padding-top: 30%;
    }

    .btnProductoAleatorio{
        justify-self: center;
    }

    .menu{
        justify-self: end;
    }

    .imgProyecto{
        display: flex;
        flex-flow: column nowrap;
        width: 100vw;
    }

    .imgBarro:hover{
        filter: invert(1);
    }

    .imgPresente:hover{
        filter: invert(1);
    }

    .imgLiquido:hover{
        filter: invert(1);
    }

    .imgPrueba:hover{
        filter: invert(1);
    }

    .imgJean:hover{
        filter: invert(1);
    }
}